@import '../../../public/static/scss/style';

.institutions {
  position: relative;

  .section-inner {
    padding-bottom: 108px;
    padding-top: 0;
  }

  .section-title {
    margin-bottom: 72px;
  }
}

.institutions-shape {
  position: absolute;
}

.institutions-shape-1 {
  bottom: 52px;
  left: calc(50% - 80px);
}

.institutions-shape-2 {
  left: calc(50% + 30px);
  top: 84px;
}

.institutions-shape-3 {
  display: none;
}

.institutions-wrap {
  display: flex;
  flex-wrap: wrap;
  // align-items: flex-start; // disables equal height boxes
  justify-content: center;
  margin-left: -16px;
  margin-right: -16px;

  &:first-child {
    margin-top: -16px;
  }

  &:last-child {
    margin-bottom: -16px;
  }
}

.institution {
  flex-grow: 1;
  max-width: 388px;
  padding: 44px 16px 16px;
  position: relative;
  width: 388px;
}

.institution-inner {
  background: color(bg, 1);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 52px 24px 24px;
  position: relative;

  > * {
    width: 100%;
  }

  &::before {
    @include shadow;

    bottom: 0;
    content: '';
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.institution-main {
  position: relative;
}

.institution-header {
  position: absolute;
  top: -80px;

  img {
    @include shadow-sm;

    border-radius: 50%;
    height: auto;
    width: 56px;
  }
}

// .institution-footer {
//   align-self: flex-end;
// }

.institution-footer {
  @include font-weight(medium);

  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 12px;
}

@include media('>medium') {
  .institutions {
    .section-inner {
      padding-bottom: 166px; /* 126+40px second column offset */
    }

    .section-title {
      margin-bottom: 126px;
    }
  }

  .institutions-wrap {
    margin-left: -24px;
    margin-right: -24px;

    &:first-child {
      margin-top: -24px;
    }

    &:last-child {
      margin-bottom: -24px;
    }
  }

  .institution {
    padding: 52px 24px 24px;
  }

  .institutions-shape-1 {
    bottom: auto;
    left: calc(50% - 305px);
    top: 170px;

    svg {
      height: 400px;
      width: 400px;
    }
  }

  .institutions-shape-2 {
    left: calc(50% + 190px);
    top: 480px;
  }

  .institutions-shape-3 {
    display: block;
    left: calc(50% - 320px);
    top: 570px;
  }
}

@include media('>large') {
  .institution {
    &:nth-child(odd) {
      top: 40px;
    }
  }
}
