@import '../../../../../public/static/scss/style';

.hero {
  padding-top: 40px;
  text-align: center;
}

.hero-button {
  width: 100%;
}

.hero-input-error {
  @include font-size(8, mobile, true, false, true);

  color: color(secondary, 3);
  @if (get-font-size(8, desktop) != get-font-size(8, mobile)) {
    @include media('>medium') {
      @include font-size(8, desktop, true, false, true);
    }
  }
}

.hero-paragraph {
  @include font-size(4, mobile, true, true, true);
  @if (get-font-size(4, desktop) != get-font-size(4, mobile)) {
    @include media('>medium') {
      @include font-size(4, desktop, true, true, true);
    }
  }

  margin-bottom: 40px;
}

.hero-form {
  margin: 0 auto;
  max-width: 440px;
}

.hero-illustration {
  margin-top: 48px;
  position: relative;
}

.hero-shape {
  display: none;
  position: absolute;
}

.hero-main-shape {
  svg {
    height: auto;
    width: 140%;
  }
}

@include media('>medium') {
  .hero {
    padding-top: 180px;
    text-align: left;
  }

  .hero-inner {
    /* Split hero in two half */
    display: flex;
  }

  .hero-copy {
    min-width: 512px;
    padding-right: 48px;
  }

  .hero-form {
    margin: 0;
  }

  .hero-illustration {
    margin-top: -143px;
    padding-bottom: 0;
  }

  .hero-shape {
    display: block;
  }

  .hero-shape-1 {
    left: -32px;
    top: 542px;
  }

  .hero-shape-2 {
    left: -840px;
    top: 538px;
  }

  .hero-main-shape {
    svg {
      height: 647px;
      margin-left: 165px;
      width: auto;
    }
  }
}

@include media('>large') {
  .hero-copy {
    min-width: 620px;
    padding-right: 92px;
  }
}
