@import '../../../../public/static/scss/style';

.button {
  @include font-size(8, mobile, true, false, true);
  @include font-weight(bold);

  background-color: color(bg, 1);
  // border: none;
  border-radius: 2px;
  color: color(primary, 1) !important;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 16px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  white-space: nowrap;

  &:active {
    outline: 0;
  }

  &::before {
    border-radius: 2px;
  }
  @if (get-font-size(8, desktop) != get-font-size(8, mobile)) {
    @include media('>medium') {
      @include font-size(8, desktop, true, false, true);
    }
  }
}

.button-sm {
  height: 32px;
  padding: 8px 24px;
}

// .button-primary {
//   color: color(typography, 1i) !important;
//   transition: background 0.15s ease;
// }

.button-primary {
  background: color(primary, 1);
  color: color(typography, 1i) !important;
  transition: background 0.15s ease;

  &:hover {
    background: darken(color(primary, 1), 2%);
  }
}

.button-block {
  display: flex;
}

.button-shadow {
  box-shadow: 0 5px 24px rgba(17, 16, 62, 0.12);
}
