@import '../../../../public/static/scss/style';

.floating {
  animation: shadowFloat 1.2s linear alternate infinite;
  bottom: 30px;
  opacity: 1;
  position: fixed;
  right: 30px;
  transition: opacity 0.2s linear;
}

.floating-inner {
  position: relative;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

.hide-content {
  opacity: 0;
  pointer-events: none;
}

.close-button {
  bottom: 33px;
  position: absolute;
  right: 30px;
  right: -10px;
  transition: opacity 0.1s linear;
  width: 25px;
}

@keyframes shadowFloat {
  0% {
    box-shadow: 0 20px 40px rgba(17, 16, 62, 0.12);
    transform: translateY(-3px);
  }
  100% {
    box-shadow: 0 10px 10px darken(rgba(17, 16, 62, 0.12), 5%);
    transform: translateY(3px);
  }
}
