@import '../../../../public/static/scss/style';

$hamburger-layer-color: color(typography, 2);

@import '~hamburgers/_sass/hamburgers/hamburgers';

button {
  outline: none;
}

.hamburger {
  margin-right: -5px;
  padding: 6.3px 0 0;
  transform: scale(0.6);
}

@include media('>=800px') {
  .hamburger {
    display: none;
  }
}
