@import '../../../../../public/static/scss/style';

.header-center-elements {
  flex-grow: 1;
  margin: 0 90px;
  position: relative;
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 9px;
}

.control {
  margin-right: 0 !important;
}
