// --------------------------------------------
// Colors -------------------------------------
// Usage example: color(primary, main)
// --------------------------------------------
$color: (
  typography: (
    1: #11103e,
    2: #565678,
    3: #ababc9,
    1i: #fff,
    2i: rgba(#fff, 0.4),
  ),
  bg: (
    1: #fff,
    2: #eef1fa,
    3: #d2daf0,
  ),
  primary: (
    1: #4950f6,
    2: #8d92fa,
    3: #261fb6,
    4: #e0e1fe,
  ),
  secondary: (
    1: #ff6381,
    2: #ff97aa,
    3: #ff3058,
    4: #ffd2da,
  ),
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

$font-family: (
  base: '"Heebo", sans-serif',
  // font-family(base)
    heading: 'Fira Sans, serif',
  // font-family(heading)
    code: 'Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace',
  // font-family(code)
    pre: '"Courier 10 Pitch", Courier, monospace',
  // font-family(pre)
);

$font-sizes: (
  alpha: (
    46px,
    56px,
    0,
  ),
  beta: (
    40px,
    50px,
    0,
  ),
  gamma: (
    32px,
    42px,
    0,
  ),
  delta: (
    22px,
    02px,
    -0.1px,
  ),
  epsilon: (
    20px,
    0 30px,
    -0.1px,
  ),
  zeta: (
    18px,
    27px,
    -0.1px,
  ),
  eta: (
    16px,
    24px,
    -0.1px,
  ),
  theta: (
    14px,
    20px,
    0,
  ),
);

$font-scale: (
  desktop: (
    // i.e. $breakpoint__m + $breakpoint__l (600 - 1024)
      1: map-get($font-sizes, alpha),
    // H1
      2: map-get($font-sizes, beta),
    // H2
      3: map-get($font-sizes, gamma),
    // H3
      4: map-get($font-sizes, delta),
    // H4, H5, H6
      5: map-get($font-sizes, epsilon),
    // Body
      6: map-get($font-sizes, zeta),
    // Text small
      7: map-get($font-sizes, eta),
    // Text smaller
      8: map-get($font-sizes, theta),
    // Footer area
  ),
  mobile: (
    // i.e. $breakpoint__xs + $breakpoint__s (up to 600)
      1: map-get($font-sizes, beta),
    // H1
      2: map-get($font-sizes, gamma),
    // H2
      3: map-get($font-sizes, delta),
    // H3
      4: map-get($font-sizes, epsilon),
    // H4, H5, H6
      5: map-get($font-sizes, zeta),
    // Body
      6: map-get($font-sizes, zeta),
    // Text small
      7: map-get($font-sizes, eta),
    // Text smaller
      8: map-get($font-sizes, theta),
    // Footer area
  ),
);

$font-weight: (
  regular: 400,
  // font__weight(regular)
    medium: 500,
  // font__weight(medium)
    semibold: 600,
  // font__weight(semi-bold)
    bold: 700,
  // font__weight(bold)
);

// --------------------------------------------
// Structure ----------------------------------
// --------------------------------------------
$content-padding: (
  mobile: 16px,
  desktop: 24px,
);
$container-width: 1080px;
$container-width-sm: 800px;
