.features {
  position: relative;

  &::before {
    background: color(bg, 2);
    background: linear-gradient(to bottom, color(bg, 2), rgba(color(bg, 2), 0));
    bottom: 0;
    content: '';
    height: 400px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.features-wrap {
  display: flex;
  flex-wrap: wrap;

  /* align-items: flex-start; // disables equal height boxes */
  justify-content: center;
  margin-left: -16px;
  margin-right: -16px;

  &:first-child {
    margin-top: -16px;
  }

  &:last-child {
    margin-bottom: -16px;
  }
}

.feature {
  flex-grow: 1;
  max-width: 388px;
  padding: 16px;
  position: relative;
  width: 388px;
}

.feature-inner {
  background: color(bg, 1);
  height: 100%;
  padding: 48px 24px 72px;
  position: relative;

  &::before {
    @include shadow;

    bottom: 0;
    content: '';
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.feature-icon {
  border-radius: 50%;
  height: 88px;
  margin: 0 auto;
  position: relative;
  width: 88px;

  &::before {
    background: color(bg, 1);
    border-radius: 50%;
    box-shadow: 12px 24px 32px rgba(color(typography, 1), 0.12);
    content: '';
    display: block;
    height: 64px;
    left: 12px;
    position: absolute;
    top: 12px;
    width: 64px;
  }

  svg {
    position: relative; /* To display the svg icon above the background color */
  }
}

@include media('>medium') {
  .features {
    .section-paragraph {
      padding-left: 72px;
      padding-right: 72px;
    }
  }

  .features-wrap {
    margin-left: -24px;
    margin-right: -24px;
    padding-top: 24px;

    &:first-child {
      margin-top: -24px;
    }

    &:last-child {
      margin-bottom: -24px;
    }
  }

  .feature {
    padding: 24px;
  }
}

@include media('>large') {
  .features {
    .section-inner {
      padding-bottom: 168px; /* 88+80px second column offset */
    }
  }

  .feature {
    &:nth-child(even) {
      top: 80px;
    }
  }
}
